.divMenu{
  position: fixed;
  top: 0;
  left: 0;
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  color:black;
}
a:hover{
  font-weight: bold;
}
/* ELEMENTOS DO MENU */
li {
  text-transform: uppercase;
  list-style: none;
  margin-bottom: 3vh;
}
ul{
  margin-top: 10vh;
}

/*IMAGEM*/

.logo {
  width: 89px;
  border: 1px solid #464646;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 40vh;
}

.selected{
  font-weight: bold;
}

/* RESPONSIVIDADE */

@media(min-width: 768px) and (max-width:1024px) {
.divMenu{
  position: unset;
  width: 74vw;
  height: 20vh;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

ul{
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}

}

@media(min-width: 320px) and (max-width:425px) {
  .divMenu{
    position: unset;
    width: 100vw;
    height: 18vh;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;

  }

  ul{
    display: flex;
    width: 100vw;
    justify-content: space-around;
  }
  .logo{
    margin-top: 19vh;
  }
}


